<h1>Sound</h1>

<h3>Bootcamp</h3>
<div class="form-group">
    <label for="bootcamp-embed">Bootcamp Embed link:</label>
    <input id="bootcamp-embed" class="form-control" [(ngModel)]="bootcampInput" type="text" 
    (keyup.enter)="addFrame(bootcampInput, EMBEDTYPES.BOOTCAMP); bootcampInput = ''"/>
</div>
<app-bootcamp-embed *ngFor="let embed of embedFramesBootcamp | async" 
                    [album]="embed.album" 
                    [song]="embed.song"
                    (remove)="removeFrame($event)"></app-bootcamp-embed>

<h3>Youtube</h3>
<div class="form-group">
    <label for="youtube-embed">Youtube link:</label>
    <input id="youtube-embed" class="form-control" [(ngModel)]="youtubeInput" type="text" 
    (keyup.enter)="addFrame(youtubeInput, EMBEDTYPES.YOUTUBE); youtubeInput = ''"/>
</div>
<div class="row">
    <div class="col-xs-6" *ngFor="let embed of embedFramesYoutube | async">
        <app-youtube-embed [id]="embed.id"></app-youtube-embed>
    </div>
</div>

